body {
  font-family: sans-serif;
}

a {
  color: rgb(153, 218, 99);
}

a:hover {
  color: #63DA68;
}

.clear {
  clear: both;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #F38C0A;
}

header h1 {
  font-size: 2em;
}

header nav ul li {
  display: inline;
}

#project-container, #aboutme {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

.project, #aboutme {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F38C0A;
}

.project img, #aboutme img {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
